body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 10px;
    width: 95%;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
